{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homeu' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            <!-- Administration Section Start -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="{% url 'info' %}">
                 <i class="nav-icon icon-puzzle"></i>Details</a>
           </li>
           <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="{% url 'resultu' %}">
                <i class="nav-icon icon-puzzle"></i>Results</a>
          </li>
           <!-- Administration Section END -->
           

        <!-- User-Manual Section START -->
       <!-- User-Manual Section END -->
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
